div {
    margin-top: 100px;
}
button {
    display: block;
    margin-top: 20px;
    margin-left: 150px;
}
#one {
    
    padding:5px 40px;
    color:mediumseagreen;
    border: 1px solid mediumspringgreen;
    border-radius: 13px;
}

#two {
    border-radius: 50%;
    padding: 10px;
    background-color: mediumspringgreen;
    border: 1px solid mediumspringgreen;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#three {
    background-color: royalblue;
    color: white;
    padding:5px 35px;
    border:2px solid black;
    box-shadow : 1px 3px 3px 1px black;
}